@page
@model Sunridge.Pages.Home.Documents.IndexModel
@{
    ViewData["Title"] = "Documents";
}

@* Get the Selected Category
    If no category selected, display list of categories*@


@* Search box on the side
    Search file tiles, keywords, section titles, and text *@


@* Display all the files for that category
    File upload needs to allow keywords to be entered for search *@


@* Display all text entries for that category
    This will be broken into sections
    Sections will have a display order number so order can be changed
    An admin can add a section then add a text entry within that section*@

<button class="accordion">Section 1</button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>