@page
@model Sunridge.Pages.Admin.Lot.Upsert

<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly" class="text-danger">

            </div>
            <div class="col-12 px-3 border-bottom-1 mt-3">
                <h2 class="text-primary">@(Model.LotObj.Lot.Id != 0 ? "Update" : "Create") Lot </h2>
            </div>
            <div class="col-8 pt-3">
                <!-- Lot Number -->
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="LotObj.Lot.LotNumber"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="LotObj.Lot.LotNumber" />
                        <span class="text-danger" asp-validation-for="LotObj.Lot.LotNumber"></span>
                    </div>
                </div>

                <!-- Tax Id -->
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="LotObj.Lot.TaxId"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="LotObj.Lot.TaxId" />
                        <span class="text-danger" asp-validation-for="LotObj.Lot.TaxId"></span>
                    </div>
                </div>

                <!-- Street Address -->
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="LotObj.Lot.Address"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="LotObj.Lot.Address" />
                        <span class="text-danger" asp-validation-for="LotObj.Lot.Address"></span>
                    </div>
                </div>
                <!-- Lot Transfer -->
                <!-- TODO: Make lot transfer Interface-->
                <select class="mdb-select md-form" multiple searchable="Search here..">
                    <option value="" disabled selected>Choose your country</option>
                    <option value="1">USA</option>
                    <option value="2">Germany</option>
                    <option value="3">France</option>
                    <option value="3">Poland</option>
                    <option value="3">Japan</option>
                </select>
                <button class="btn-save btn btn-primary btn-sm">Save</button>
                <!-- Inventory -->
                <div class="form-group row">
                    <div class="col-3">
                        <label>Inventory</label>
                    </div>
                    <div class="col-9">
                        <!-- TODO: Automatically Generate the Checkboxes based on Inventory Table-->
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                @if (Model.LotObj.Lot.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control" onclick="return ValidateInput()">Create</button>
                                }
                            </div>
                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });

        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                swal('Error', 'Please Select an Image', 'error');
                return false;
            }
            return true;
        }
    </script>
    <script>
        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });
    </script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
}