@page
@model Sunridge.Pages.Home.About.IndexModel
@{
    ViewData["Title"] = "About";
}

<div class="mt-2 mb-3">
    <h1 class="text-center">About this Website</h1>
</div>

<h4 class="text-center text-secondary mb-5">This website was created by Weber State students.</h4>

<div class="row text-center">

    <div class="col-lg-4 mb-4">
        <img src="/images/about/wsu.png">
    </div>        

    <div class="col-lg-4 mb-2">
        <h4>Version 2.0 Team Members (Fall 2020):</h4>
        <ul class="list-unstyled lead">
            <li>Kyler Bourgeous</li>
            <li>Ethan Darling</li>
            <li>Jacob Lillywhite</li>
            <li>Alden Park</li>
            <li>Brayden Perry</li>
            <li>Aaron Szymanski </li>
        </ul>
    </div>

    <div class="col-lg-4">
        <h4>Version 1.0 Team Members:</h4>
        <ul class="list-unstyled lead">
            <li>Sean Bigler</li>
            <li>Jess Brunker</li>
            <li>Goeun Kwak</li>
            <li>Monde Murphy</li>
            <li>Aaron Nybo</li>
            <li>Trevor Pederson</li>
            <li>Brendan Ralston</li>
            <li>Brock Smith</li>
        </ul>
    </div>

</div>
