@page
@model Sunridge.Pages.Admin.Document.Category.UpsertModel
@{
    ViewData["Title"] = "Document Category";
}




<form method="post">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            @*Display any validation/error messages here.*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*Keep track of Id if editing existing.*@
            @if (Model.DocumentCategoryObj.Id != 0)
            {
                <input type="hidden" asp-for="DocumentCategoryObj.Id" />
            }

            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                @*Displays "Update" if their is an Id, "Create" if there is not*@
                <h2>@(Model.DocumentCategoryObj.Id !=0 ? "Update" : "Create") Document Category</h2>
            </div>


            <div class="col-8 pt-3">
                @*Category Name*@
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="DocumentCategoryObj.Name"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="DocumentCategoryObj.Name" />
                        <span class="text-danger" asp-validation-for="DocumentCategoryObj.Name"></span>
                    </div>
                </div>


                @*Buttons. offset-3 shifts the buttons 3 columns right
                    The Back to List "button" isn't actually a button. Just a link. *@
                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary form-control">@(Model.DocumentCategoryObj.Id !=0 ? "Update" : "Create")</button>
                            </div>

                            @* **** ToDo **** Make sure this returns to the correct place (Admin DashBoard?) *@
                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-secondary form-control">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}