        <!-- Bootstrap NavBar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/Home/BoardMembers/Index">Board Members</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" asp-page="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Classified Ads
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-page="/Classifieds/Lots/Index">Lots</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-page="/Classifieds/Cabins/Index">Cabins</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-page="/Classifieds/Trailers/Index">Trailers</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-page="/Classifieds/ATVs/Index">ATVs</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-page="/Classifieds/Other/Index">Other Services</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" asp-page="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documents
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-page="/Home/Rules/Index">Rules</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-page="/Home/Maps/Index">Maps</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-page="/docs/Sunridge By-laws.doc">Bylaws</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/Home/Calendar/Index">Event Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/Home/FireInfo/Index">Fire Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/Home/News/Index">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/Home/LostFound/Index">Lost&Found</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/Photos/Index">Photo Gallery</a>
            </li>

            <!-- This menu is hidden in bigger devices with d-sm-none.
            The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
            <li class="nav-item dropdown d-sm-block d-md-none">
                <a class="nav-link dropdown-toggle" asp-page="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dashboard Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                    <a class="dropdown-item" asp-page="/Owner/Lots/MyLots/Index">My Lots</a>
                    <a class="dropdown-item" asp-page="/Owner/Classifieds/MyClassifieds/Index">My Classifieds</a>
                    <a class="dropdown-item" asp-page="/OwnerPhotos/MyPhotos/Index">My Photos</a>
                    <a class="dropdown-item" asp-page="/Home/Forms/Index">Forms</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-page="/Admin/Owners/Index">Owners</a>
                    <a class="dropdown-item" asp-page="/Admin/Keys/Index">Keys</a>
                    <a class="dropdown-item" asp-page="/Admin/KeyHistory/Index">Key History</a>
                    <a class="dropdown-item" asp-page="/Owner/Lots/Index">HOA Lots</a>
                    <a class="dropdown-item" asp-page="/Owner/Forms/Index">Reports</a>
                    <a class="dropdown-item" asp-page="/Admin/CommonAreaAssets/Index">Common Area Assets</a>
                    <a class="dropdown-item" asp-page="/Owner/Classifieds/Index">Classifieds</a>
                    <a class="dropdown-item" asp-page="/AdminPhotos/Index/Index">Photos</a>
                    <a class="dropdown-item" asp-page="/Admin/Inventories/Index">Inventory Items</a>
                    <a class="dropdown-item" asp-page="/Admin/Banner/Index">Banner Items</a>
                    <a class="dropdown-item" asp-page="/NewsItem/Index/Index">News Items</a>
                    <a class="dropdown-item" asp-page="/Admin/ScheduledEvents/Index">Scheduled Events</a>

                </div>
            </li><!-- Smaller devices menu END -->

        </ul>
    </div>
    <div>
        <partial name="_LoginPartial" />
    </div>
</nav><!-- NavBar END -->