@page
@model Sunridge.Pages.Admin.Banner.UpsertModel
@{
}

<h2>Edit Banner Item</h2>
<hr />
<div class="row">
    <div class="col-8">
        <form method="post" asp-action="Upsert" enctype="multipart/form-data">
            @if (Model.BannerObj.Id != 0)
            {
            <input type="hidden" asp-for="@Model.BannerObj.Id;" />
            }

            <div class="form-group">
                <label asp-for="BannerObj.Header"></label>
                <input class="form-control tinyMCE_Input" asp-for="BannerObj.Header" />
                <span class="text-danger" asp-validation-for="BannerObj.Header"></span>
            </div>
            <div class="form-group">
                <label asp-for="BannerObj.Body"></label>
                <textarea class="form-control" asp-for="BannerObj.Body" id="bannerDesc" style="height:200px;"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="BannerObj.Image"></label>
                <input type="file" class="form-control" id="uploadBox" name="files" />
            </div>
            <div class="form-group">
                @if (Model.BannerObj.Id != 0)
                    {
                <button type="submit" class="btn btn-primary form-control">Update</button>
                    }
                    else
                    {
                <button type="submit" class="btn btn-primary form-control" onclick="return ValidateInput()">Create</button>
                    }
            </div>
        </form>
    </div>
    @if (Model.BannerObj != null)
    {
<div class="col-4">
    <img src="@Model.BannerObj.Image" class="rounded mx-auto d-block img-fluid" style="border:1px solid #bbb9b9;" alt="...">
</div>
    }
</div>
<div>
    <a asp-page="./Index" class="btn btn-success form-control">Back to List</a>
</div>


@section Scripts{ 
<script>
    tinymce.init({
        selector: "input.tinyMCE_Input",
        plugins: 'lists textcolor colorpicker spellchecker code wordcount',
        min_height: 20,
        menubar: 'format tools'
    });
    tinymce.init({
        selector: 'textarea',
        plugins: 'lists textcolor colorpicker spellchecker code wordcount',
        menubar: 'format tools'
    });

    function ValidateInput() {
        if (document.getElementById("uploadBox").value == "") {
            swal('Error', 'Please select an Image to upload', 'error')
            return false;
        }
        return true;
    }
</script>
}