@page
@model Sunridge.Pages.Admin.Lot.Files.Upsert

<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly" class="text-danger">

            </div>
            <div class="col-12 px-3 border-bottom-1 mt-3">
                <h2 class="text-primary">@(Model.LotFileObj.Id != 0 ? "Update" : "Create") Lot File</h2>
            </div>
            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="LotFileObj.Title"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="LotFileObj.Title" id="txtTitle" />
                        <span class="text-danger" asp-validation-for="LotFileObj.Title"></span>
                    </div>
                    @if (Model.LotFileObj.Id != 0)
                    {
                        <input type="hidden" asp-for="LotFileObj.Id" />
                    }
                        <input type="hidden" asp-for="LotFileObj.LotId" value="@Model.LotId" />
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="LotFileObj.Description"></label>
                    </div>
                    <div class="col-9">
                        <textarea class="form-control" asp-for="LotFileObj.Description" id="txtDesc" style="height: 200px"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="LotFileObj.File"></label>
                    </div>
                    <div class="col-9">
                        <input type="file" class="form-control" id="uploadBox" name="files" accept=".pdf,.docx"/>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                @if (Model.LotFileObj.Id != 0) {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else {
                                    <button type="submit" class="btn btn-primary form-control" onclick="return ValidateInput()">Create</button>
                                }
                            </div>
                            <div class="col-6">
                                <a asp-page="./index" asp-route-lotid="@Model.LotId" class="btn btn-secondary form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    
        function ValidateInput() {

            @*File Validation*@
            if (document.getElementById("uploadBox").value == "") {
                swal('Error', 'Please select a File', 'error');
                return false;
            }
            @* Title Validation *@
            var name = document.getElementById("txtTitle").value;
            if (name.toString() == '') {
                swal("Error", "Please enter a Title for the File.", "error");
                return false;
            }

            return true;
        }
    </script>
}