@page
@model Sunridge.Pages.Owner.Forms.SuggestionComplaintModel
@{
}

<h2>Sunridge Owner Suggestion / Complaint Form</h2>
<form method="post">
    @if (Model.FormsObj.Id != 0)
    {
        <input type="hidden" asp-for="FormsObj.Id" />
        <p>Submitted by @Model.FormsObj.Owner.FullName</p>
        <p>@Model.FormsObj.DateCreated.ToShortDateString()</p>
    }

    <div class="row">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Description of incident/problem/improvement:</label>
                <textarea class="form-control" rows="10" asp-for="FormsObj.Description"></textarea>
                <span asp-validation-for="FormsObj.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Suggestion on how to correct the problem/make improvement:</label>
                <textarea class="form-control" rows="10" asp-for="FormsObj.Suggestion"></textarea>
                <span asp-validation-for="FormsObj.Suggestion" class="text-danger"></span>
            </div>

            <div class="form-group">
                @if (Model.FormsObj.Id != 0)
                {
                    @if (Model.FormsObj.Resolved != true)
                    {
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    }
                }
                else
                {
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                }
            </div>

        </div>
    </div>

</form>

<div>
    <a asp-page="/Owner/Dashboard/Index">Back to Dashboard</a>
</div>