@model Sunridge.Pages.Home.Photos.IndexModel

<div class="col-xl-4 col-md-6">
    <div class="card" style="border:2px solid #008cba; border-radius: 5px; ">
        <div class="pl-3 pt-1 text-center">
            <h3 class="card-title text-primary"><b>@Model.photoAlbum.Title</b></h3>
        </div>

        <img src="@Model.albumThumb" class="card-img-top p-2 rounded" />

        @* **** ToDo **** Convert this to an Edit button for the owner of the album or admins
        <a asp-page="/Admin/Shoe/Details" class="fas fa-info-circle btn btn-secondary" style="border-radius:2px;" asp-route-id="@Model.shoe.Id">&nbsp;Details</a>
        *@


        @if (User.Identity.IsAuthenticated)
        {
            @*
            **** ToDo **** Setup this Edit button for the owner of the album or admin
                Should be checking for matching UserId or in admin role
            *@

            <form method="post">
                @*Pass in the PhotoAlbumId to the OnPostEdit method*@                

                <button asp-page-handler="edit" asp-route-Id="@Model.photoAlbum.Id" class="col far fa-edit btn btn-primary mt-1"
                        style="border-radius:2px;"
                        type="submit">
                    &nbsp;Edit Album
                </button>
            </form>
        }
    </div>
</div>


