@page
@model Sunridge.Pages.Admin.Classifieds.Category.IndexModel

@{ 
    Layout = "~/Pages/Shared/_ClassifiedsLayout.cshtml";
}

<h1>Classified Categories</h1>
<div class="container ml-0 mb-3 mt-1">
    <div class="row">
        <div class="col-12 text-left">
            <a asp-page="Upsert" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Create New</a>
        </div>
    </div>
</div>
<table id="DT_load" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Category Id
            </th>
            <th>
                Category Name
            </th>
            <th></th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script src="~/js/classifiedsCategory.js"></script>
}

