@page
@model Sunridge.Pages.Admin.Document.Section.IndexModel
@{
    ViewData["Title"] = "Document Sections";
}



@* **** ToDo **** format this heading better? *@
<h1 class="row pl-3">Document Section</h1>
<p class="row  pl-3">Used for grouping text together under a section withing a category.</p>

@*Create New Button*@
<div class="container">
    <div class="row">
        <div class="col-12 text-right">
            <a asp-page="Upsert" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Create New</a>
        </div>
    </div>
</div>

@*id is required for datatables*@
<table id="DT_load" class="table table-striped table-bordered">
    <thead>
        <tr>
            @*The headers have to be hard coded in datatables*@
            <th>
                Category Name
            </th>
            <th>
                Section Name
            </th>
            <th>
                Display Order
            </th>
            <th>
                @*Edit and delete buttons will go under here*@
            </th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script src="~/js/documentSection.js"></script>
}